<div id="movie">
  <div>
    <nav class="text-right">
      <a routerLink="/login">Log out</a>
    </nav>
    <h2>You have logged in successfully!</h2>
  </div>
  <ul class="movie-list">
    <li
      class=""
      style="cursor: pointer"
      *ngFor="let movie of movies"
    >
      <div class="movie-item">
        <p><strong><u>{{ movie.title }}</u></strong></p>
        <p>Released: {{ movie.year }}</p>
        <p>Director: {{ movie.director }}</p>
        <p>Starring: {{ movie.actors }}</p>
      </div>
    </li>
  </ul>
</div>
