/* You can add global styles to this file, and also import other style files */

  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    min-height: 10px;
  }


  .movie-item {
    all: unset;
    border-radius: 5px;
    /* border: 1px solid #eee; */
    border: 1px solid grey;
    background-color: #f0f0f0;
    height: auto;
    width: auto;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .movie-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .button {
    margin-top: 10px;
  }

  input {
    padding: 5px;
  }


  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #ffffff;
    background-color:rgb(241, 2, 2);
    padding:7px;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
